<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBString" connectionString="Server=tcp:inmobiliariajnvc.database.windows.net,1433;Initial Catalog=inmobiliariajnvc;Persist Security Info=False;User ID=leonel;Password=twyxnztcxW1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>