<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBString" connectionString="Server=LEONELR\SQLEXPRESS; Database=AppInmobiliaria; Integrated Security=True; TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>