<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBString" connectionString="Server=tcp:jnvcserver.database.windows.net,1433;Initial Catalog=jnvcdatabase;Persist Security Info=False;User ID=inmobiliariajnvc;Password=jDhfuewlmxoa3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>